
@font-face { font-family: Snes; src: url('fonts/snes.ttf'); }
@font-face { font-family: BladeRunner; src: url('fonts/bladerunner.ttf'); }
@font-face { font-family: Lazer; src: url('fonts/lazer84.ttf'); }
        body {
            background-image: url("images/sunrising.png");
        }
        #video-background {
            /*  making the video fullscreen  */
              position: fixed;
              right: 0; 
              bottom: 0;
              min-width: 100%; 
              min-height: 100%;
              width: auto; 
              height: auto;
              z-index: -100;
            }
        
        h1 {
            color: white;
            text-align: center;
            font-family: BladeRunner;
            font-size: 40px;
            text-shadow: 5px 0px black;
        }
        
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            color: black;
            text-align: center;
            
            
        }
        h4 {
            color: white;
            text-align: center;
            font-family: BladeRunner;
            font-size: 40px;
            text-shadow: 5px 0px black;
        }
        a {
            color: white;
            text-align: center;
            font-family: BladeRunner;
            font-size: 40px;
            text-shadow: 5px 0px black;
            
        }
        a:hover {
            color: aqua;
            opacity: 1;
            zoom: 1.1;
            text-shadow: 5px 5px black;
            /*Glow*/
            -webkit-box-shadow: 0px 0px 500px aqua;
            -moz-box-shadow: 0px 0px 500px aqua;
            box-shadow: 0px 0px 500px aqua;
            transition: 0ms;
            -webkit-transition: margin 0.5s ease-out;
            -moz-transition: margin 0.5s ease-out;
            -o-transition: margin 0.5s ease-out;

        }
        li {text-align: center;
        }
        img {
            border: 5px solid white;
            float: center;
            margin: 15px;
            transition: 0ms;
            -webkit-transition: margin 0.5s ease-out;
            -moz-transition: margin 0.5s ease-out;
            -o-transition: margin 0.5s ease-out;
    
            border-radius: 50%;
        }
        img:hover {  
            

            margin-top: 2px;
            opacity: 1;
            
            /*Reflection*/
           -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
          
            /*Glow*/
           -webkit-box-shadow: 0px 0px 500px orange;
           -moz-box-shadow: 0px 0px 500px orange;
           box-shadow: 0px 0px 500px orange;
         }  

       