
@font-face { font-family: Snes; src: url('fonts/snes.ttf'); }
@font-face { font-family: BladeRunner; src: url('fonts/bladerunner.ttf'); }
@font-face { font-family: Lazer; src: url('fonts/lazer84.ttf'); }
        body {
            background-image: url("images/sunrising.png");
        }
        
        h1 {
            color: white;
            text-align: center;
            font-family: BladeRunner;
            font-size: 40px;
            text-shadow: 5px 0px black;
        }
        
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            color: black;
            text-align: center;
            
            
        }
        h4 {
            color: white;
            text-align: center;
            font-family: BladeRunner;
            font-size: 40px;
            text-shadow: 5px 0px black;
        }
        a {
            color: white;
            text-align: center;
            font-family: BladeRunner;
            font-size: 40px;
            text-shadow: 5px 0px black;
        }
        a:hover {
            color: aqua;

        }
        li {text-align: center;
        }
        img {
    
            border-radius: 50%;
        }
        img:hover {  
            opacity: 1;
            
            /*Reflection*/
           -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
          
            /*Glow*/
           -webkit-box-shadow: 0px 0px 500px orange;
           -moz-box-shadow: 0px 0px 500px orange;
           box-shadow: 0px 0px 500px orange;
         }  

       