
@font-face { font-family: BladeRunner; src: url('fonts/BLADERUNNER.TTF'); }
        body {
            background-image: url("images/cyberpunk.jpg");
        }
        
        h1 {
            color: white;
            text-align: center;
            font-family: BladeRunner;
            font-size: 40px;
            text-shadow: 5px 0px black;
        }
        
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            color: black;
            text-align: center;
            
            
        }
        h4 {
            color: white;
            text-align: center;
            font-family: BladeRunner;
            font-size: 40px;
            text-shadow: 5px 0px black;
        }
        a {
            color: white;
            text-align: center;
            font-family: BladeRunner;
            font-size: 40px;
            text-shadow: 5px 0px black;
        }
        a:hover {
            color: aqua;

        }
        li {text-align: center;
        }
        img {
            border-radius: 50%;
        }

       